<div style="margin-left:10px;margin-right:10px">
<div class="row">
  <div class="col-md-4 col-xs-12">


<!--
      <div class="panel">
    <div class="panel-heading">
        <div class="panel-title" style="color: #C8E6C9;"></span><span class="glyphicon glyphicon-calendar" style="color: #C8E6C9;"></span> Calendar</div>
    </div>
    <div class="panel-body" style="background-color: white;" ng-controller="AppointmentsController">
        
      <div ng-cloak>

            <md-content style="background-color: #fff;">
                <md-tabs md-dynamic-height md-border-bottom>

      <div style="margin-top:10px">
               <ul class="list list--inset div-container-section" ng-repeat="material in materials" style="margin-top:5px" ng-click="selectMaterial(material)">
       <li class="list__item list--inset__item list__item--tappable">
         <div style="padding:8px;">
           <div class="row" >
             <div class="col-xs-1">
               <div align="right" >
                 <i class=" iconThemeViews" ng-class="material.icon"></i>
               </div>
             </div> 
             <div class="col-xs-11">
              <md-tab label="{{material.name}}">
             <div  align="middle" style="margin-left:5px">
               <div class="desc">
                     <div style=" color:grey;">{{material.description}}</div>
                   </div>
                   </div>
                   </md-tab>
             </div>
           </div>
             </div>
       </li>
     </ul>
     </div>
   </md-tabs>
 </md-content>
</div>

    </div>

  </div>

-->


<div class="panel">
    <div class="panel-heading">
        <div class="panel-title" style="color: #C8E6C9;"></span><span class="glyphicon glyphicon-list" style="color: #C8E6C9;"></span> Educational Material</div>
    </div>
    <div class="panel-body" style="background-color: white; overflow-y: scroll; height: 100%; margin-top: 15px;" ng-controller="AppointmentsController">
        <div style="margin-top:10px">
        <ul class="list-group">
            <h4 class="list-group-item-heading">Prior To Treatment</h4>
            <li class="list-group-item" ng-repeat="materialB in materialsBefore" ng-click="selectMaterial(materialB)" ng-class="(selectedMaterial.EducationalMaterialControlSerNum==materialB.EducationalMaterialControlSerNum)? 'my-class' : ''">
         <div>
           <div class="row" >
             <div class="col-xs-1">
               <div align="right" >
                 <i class="iconThemeViews" ng-class="material.icon"></i>
               </div>
             </div>
             <div class="col-xs-11">
             <div  align="middle" style="margin-left:5px">
                <div class="profile-name">
                     {{materialB.Name}}
                   </div>
               <div>
                     <div style=" color:grey;">{{materialB.Description}}</div>
                   </div>
                   </div>
             </div>
           </div>
             </div>
       </li>
       <br>
       <h4 class="list-group-item-heading">During Treatment</h4>
       <li class="list-group-item" ng-repeat="materialD in materialsDuring" ng-click="selectMaterial(materialD)" ng-class="(selectedMaterial.EducationalMaterialControlSerNum==materialD.EducationalMaterialControlSerNum)? 'my-class' : ''">
         <div>
           <div class="row" >
             <div class="col-xs-1">
               <div align="right" >
                 <i class="iconThemeViews" ng-class="material.icon"></i>
               </div>
             </div>
             <div class="col-xs-11">
             <div  align="middle" style="margin-left:5px">
                <div class="profile-name">
                     {{materialD.Name}}
                   </div>
               <div>
                     <div style=" color:grey;">{{materialD.Description}}</div>
                   </div>
                   </div>
             </div>
           </div>
             </div>
       </li>
       <br>
       <h4 class="list-group-item-heading">After Treatment</h4>
       <li class="list-group-item" ng-repeat="materialA in materialsAfter" ng-click="selectMaterial(materialA)" ng-class="(selectedMaterial.EducationalMaterialControlSerNum==materialA.EducationalMaterialControlSerNum)? 'my-class' : ''">
         <div>
           <div class="row" >
             <div class="col-xs-1">
               <div align="right" >
                 <i class="iconThemeViews" ng-class="material.icon"></i>
               </div>
             </div>
             <div class="col-xs-11">
             <div  align="middle" style="margin-left:5px">
                <div class="profile-name">
                     {{materialA.Name}}
                   </div>
               <div>
                     <div style=" color:grey;">{{materialA.Description}}</div>
                   </div>
                   </div>
             </div>
           </div>
             </div>
       </li></li>
     </ul>
     </div>
    </div>
    
  </div>


<!--
    <h4>Education Material</h4>
    <div class="div-container-section" style="height:70vh;overflow-y:scroll">

      <div style="margin-top:10px">
               <ul class="list list--inset div-container-section" ng-repeat="material in materials" style="margin-top:5px" ng-click="selectMaterial(material)">
       <li class="list__item list--inset__item list__item--tappable">
         <div style="padding:8px;">
           <div class="row" >
             <div class="col-xs-1">
               <div align="right" >
                 <i class=" iconThemeViews" ng-class="material.icon"></i>
               </div>
             </div>
             <div class="col-xs-11">
             <div  align="middle" style="margin-left:5px">
                <div class="profile-name" >
                     {{material.name}}
                   </div>
               <div class="desc">
                     <div style=" color:grey;">{{material.description}}</div>
                   </div>
                   </div>
             </div>
           </div>
             </div>
       </li>
     </ul>
     </div>
    </div>
-->


  </div>



  <div class="col-md-8 col-xs-12" >



<div class="panel">
    <div class="panel-heading">
        <div class="panel-title" style="color: #C8E6C9;"></span><span class="glyphicon glyphicon-book" style="color: #C8E6C9;"></span> {{selectedMaterial.Name}}</div>
    </div>
    <div class="panel-body" style="background-color: white;" ng-controller="AppointmentsController">
      <div class="row" >
          <div class="col-xs-12">
              <div  align="middle" style="margin-left:5px">
                <div style="margin-top:30px" align="center">
                  <div>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" ng-src="{{generateURL(selectedMaterial)}}"></iframe>
                    </div>
                  </div>
              <img height="auto" width="60%" ng-src="{{selectedDocument.Content}}">
              </div>
                <!--<div align="center">-->
          <!--{{documentObject.date|date:"EEEE MMMM d, yyyy"}}--><!--<br>
          {{selectedMaterial.description}}<br>
                </div>-->
              </div>
          </div>
      </div>
    </div>
    <div class="panel-footer clearfix" style="background-color: white; height: 70px;">
      <div class="pull-right">
        <p>
          <a href class="btn copy" style="background-color: #74A333; color: #C8E6C9;">Copy</a>
            &nbsp;
          <input type="text" class="toCopy" value="{{selectedMaterial.ShareURL}}">
        </p>


      <!--
          <div class="share-button sharer" style="display: inline-block;">
<button type="button" class="btn share-btn pull-right" style="background-color: #74A333; color: #C8E6C9;" ng-clik="notToggle({{toggle}})"><span class="fa fa-share" style="color: #C8E6C9"></span> Share</button>

<div ng-show="true">
      <p>fdasfasdfsdfsa</p>
    </div>
-->
<!--
<div class="social top center networks-5">

    <a class="fbtn share microsoft" ng-class="ShareButtonClass['Facebook']" ng-click="shareOnFacebook(selectedDocument)" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank"><i class="fa fa-windows fa-1x" aria-hidden="true"></i></a> 
    <a class="fbtn share google" href="https://plus.google.com/share?url=url" target="_blank"><i class="fa fa-google fa-1x" aria-hidden="true"></i></a> 
    <a class="fbtn share yahoo" href="https://twitter.com/intent/tweet?text=title&amp;url=url&amp;via=creativedevs" target="_blank"><i class="fa fa-yahoo fa-1x"></i></a> 

</div>
-->
<!-- </div> -->
</div>
          <style>
          /*
          .social .fbtn {
    width: 50px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height:18px;
    float: left;
}

.social .fa { 
  padding:15px 0px
}

.microsoft {
    color: #fff;
    background-color: #2672ec;
}
 
.google {
    color: #fff;
    background-color: #f4731c;
}
 
.yahoo {
    background-color: #55acee;
}
 
.stumbleupon {
    background-color: #eb4924;
}
 
.pinterest {
    background-color: #cc2127;
}
 
.linkedin {
    background-color: #0077b5;
}
 
.buffer {
    background-color: #323b43;
}

.share-button.sharer {
  height: 10px;
  padding: 10px;
  margin-right: 10px;
}
.share-button.sharer .social.active.top {
  transform: scale(1) translateY(-10px);
}
.share-button.sharer .social.active {
  opacity: 1;
  transition: all 0.4s ease 0s;
  visibility: visible;
}
.share-button.sharer .social.networks-5 {

}
.share-button.sharer .social.top {
  margin-top: -80px;
  transform-origin: 0 0 0;
}
.share-button.sharer .social {
  margin-left: -170px;
  opacity: 0;
  transition: all 0.4s ease 0s;
  visibility: hidden;
}*/
          </style>
          <script>/*
          $( document ).ready(function() {
  //custom button for homepage
     $( ".share-btn" ).click(function(e) {
       $('.networks-5').not($(this).next( ".networks-5" )).each(function(){
          $(this).removeClass("active");
       });
     
            $(this).next( ".networks-5" ).toggleClass( "active" );
    });   
});*/
          </script>
    </div>
</div>





<!--
    <div class="div-container-section">
      <div class="row" >
  <div class="col-xs-1">
        <div align="right" >
          <i class="fa fa-hospital-o iconThemeViews"></i>
        </div>
      </div>

          <div class="col-xs-11">
          <div  align="middle" style="margin-left:5px">
            <h4>{{selectedMaterial.name}}</h4>
            <div style="margin-top:30px" align="center">
            <div >
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" ng-src="{{generateURL(selectedMaterial)}}"></iframe>
              </div>
            </div>
            <img height="auto" width="60%" ng-src="{{selectedDocument.Content}}">
            </div>
              <div align="center"> -->
        <!--{{documentObject.date|date:"EEEE MMMM d, yyyy"}}--> <!-- <br>
        {{selectedMaterial.description}}<br>

       </div>

        </div>
    </div>
</div>
    </div>
  -->

  </div>
</div>


</div>
