<div class="row">
<div class="col-md-2">
</div>
  <div class="col-md-8 col-xs-12">
<div style="margin-left:10px;margin-right:10px">
<div class="row">
  <div class="col-md-4 col-xs-12">

<div class="panel">
    <div class="panel-heading">
        <div class="panel-title" style="color: #C8E6C9;"></span><span class="glyphicon glyphicon-list" style="color: #C8E6C9;"></span> Educational Material</div>
    </div>
    <div class="panel-body" style="background-color: white; overflow-y: scroll; height: 100%; margin-top: 15px;" ng-controller="AppointmentsController">
        <div style="margin-top:10px">
        <ul class="list-group">
            <h4 class="list-group-item-heading">Prior To Treatment</h4>
            <li class="list-group-item" ng-repeat="materialB in materialsBefore" ng-click="selectMaterial(materialB)" ng-class="(selectedMaterial.EducationalMaterialControlSerNum==materialB.EducationalMaterialControlSerNum)? 'my-class' : ''">
         <div>
           <div class="row" >
             <div class="col-xs-1">
               <div align="right" >
                 <i class="iconThemeViews" ng-class="material.icon"></i>
               </div>
             </div>
             <div class="col-xs-11">
             <div  align="middle" style="margin-left:5px">
                <div class="profile-name">
                     {{materialB.Name}}
                   </div>
               <div>
                     <div style=" color:grey;">{{materialB.Description}}</div>
                   </div>
                   </div>
             </div>
           </div>
             </div>
       </li>
       <br>
       <h4 class="list-group-item-heading">During Treatment</h4>
       <li class="list-group-item" ng-repeat="materialD in materialsDuring" ng-click="selectMaterial(materialD)" ng-class="(selectedMaterial.EducationalMaterialControlSerNum==materialD.EducationalMaterialControlSerNum)? 'my-class' : ''">
         <div>
           <div class="row" >
             <div class="col-xs-1">
               <div align="right" >
                 <i class="iconThemeViews" ng-class="material.icon"></i>
               </div>
             </div>
             <div class="col-xs-11">
             <div  align="middle" style="margin-left:5px">
                <div class="profile-name">
                     {{materialD.Name}}
                   </div>
               <div>
                     <div style=" color:grey;">{{materialD.Description}}</div>
                   </div>
                   </div>
             </div>
           </div>
             </div>
       </li>
       <br>
       <h4 class="list-group-item-heading">After Treatment</h4>
       <li class="list-group-item" ng-repeat="materialA in materialsAfter" ng-click="selectMaterial(materialA)" ng-class="(selectedMaterial.EducationalMaterialControlSerNum==materialA.EducationalMaterialControlSerNum)? 'my-class' : ''">
         <div>
           <div class="row" >
             <div class="col-xs-1">
               <div align="right" >
                 <i class="iconThemeViews" ng-class="material.icon"></i>
               </div>
             </div>
             <div class="col-xs-11">
             <div  align="middle" style="margin-left:5px">
                <div class="profile-name">
                     {{materialA.Name}}
                   </div>
               <div>
                     <div style=" color:grey;">{{materialA.Description}}</div>
                   </div>
                   </div>
             </div>
           </div>
             </div>
       </li></li>
     </ul>
     </div>
    </div>
  </div>
  </div>



  <div class="col-md-8 col-xs-12" >



<div class="panel">
    <div class="panel-heading">
        <div class="panel-title" style="color: #C8E6C9;"></span><span class="glyphicon glyphicon-book" style="color: #C8E6C9;"></span> {{selectedMaterial.Name}}</div>
    </div>
    <div class="panel-body" style="background-color: white;">
      <div class="row" >
          <div class="col-xs-12">
              <div  align="middle" style="margin-left:5px">
                <div style="margin-top:30px" align="center">
                    <div ng-show="tableOfContents">
                      <select ng-change="selectSection(section)" ng-model="section">
                        <option ng-repeat="section in listTableContents" ng-click="selectSection(section)">{{section.Name_EN}}</option>
                      </select>
                      </br>
                      </br>
                      <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" style="position: absolute; height: 100%" src="{{generateURLForBookletSections(selectedSection)}}"></iframe>
                    </div>
                    </div>
                    <div ng-show="notBooklet" class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" style="position: absolute; height: 100%" src="{{generateURL(selectedMaterial)}}"></iframe>
                    </div>
              <img height="auto" width="60%" ng-src="{{selectedDocument.Content}}">
              </div>
              
              </div>
          </div>
      </div>
    </div>
    <div class="panel-footer clearfix" style="background-color: white; height: 85px;">
      <div class="row">
        <div class="col-md-6 col-xs-6">
      <div class="pull-left">
        <span>Rate this material: </span>
        <rate-material ser-num="selectedMaterial.EducationalMaterialSerNum"></rate-material>
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <div class="pull-right">
        <p style="margin-top: 10px;">
          <a href class="btn copy" style="background-color: #74A333; color: #C8E6C9;">Copy</a>
            &nbsp;
          <input type="text" class="toCopy" value="{{selectedMaterial.ShareURL}}">
        </p>
      </div>
    </div>
    </div>
    </div>
</div>

  </div>
</div>


</div>
</div>
<div class="col-md-2">
  </div>
</div>