<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 col-xs-12">

<div class="row">
  <div class="col-md-122 col-xs-12">
    <br>
    <div style="font-size: 20px; color: #51759a;">My Chart > Treatment Plan</div>
    <hr style="border-color: #74A333;">
  </div>
</div>

</div>
<div class="col-md-2">
  </div>
</div>


<style>
.panel-container.green {
    background-color: #74A333;
    color: #C8E6C9;
}
.panel-container {
    position: relative;
    background-color: #fff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: 15px;
}
</style>

