<div class="row">
  <div class="col-md-4 col-xs-4">
    <div class="panel-container green animated" style="cursor: pointer; margin-left: 15px;">
      <a ui-sref="app.Appointments" style="color: #fff;">
      <div class="row">
        <div class="col-xs-12">
          <span class="fa fa-calendar fa-2x" style="padding: 10px 0px 10px 0px; color: #C8E6C9;"></span>&nbsp;&nbsp;&nbsp;
        
        
          <span style="font-size: 20px;color: #C8E6C9;">Appointments</span>
        </div>
      </div>
    </a>
    </div>
  </div>
  <div class="col-md-4 col-xs-4">
    <div class="panel-container green animated" style="cursor: pointer; margin-right: 15px; background-color: #96c238;">
    <a ui-sref="app.TreatmentPlan" style="color: #fff;">
      <div class="row">
        <div class="col-xs-12">
          <span class="fa fa-list fa-2x" style="padding: 10px 0px 10px 0px; color: #C8E6C9;"></span>&nbsp;&nbsp;&nbsp;
    
          <span style="font-size: 20px;color: #C8E6C9;">Treatment Plan</span>
        </div>
      </div>
    </a>
  </div>
  </div>
  <div class="col-md-4 col-xs-4">
    <div class="panel-container green animated" style="cursor: pointer; margin-right: 15px;">
    <a ui-sref="app.Documents" style="color: #fff;">
      <div class="row">
        <div class="col-xs-12">
          <span class="fa fa-folder fa-2x" style="padding: 10px 0px 10px 0px; color: #C8E6C9;"></span>&nbsp;&nbsp;&nbsp;
       
          <span style="font-size: 20px;color: #C8E6C9;">Documents</span>
        </div>
      </div>
    </a>
  </div>
  </div>
</div>

<style>
.panel-container.green {
    background-color: #74A333;
    color: #C8E6C9;
}
.panel-container {
    position: relative;
    background-color: #fff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: 15px;
}
</style>

