<div class="row" style="margin-left: 10px; margin-right: 10px;">
  <div class="col-md-2">
  </div>

 <div class="col-md-8 col-xs-12"> 

<div>
 
<nav class="navbar" style="background-color: #74A333;">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only" style="color: #C8E6C9;">Toggle navigation</span>
      <span class="icon-bar" style="background-color: #C8E6C9;"></span>
      <span class="icon-bar" style="background-color: #C8E6C9;"></span>
      <span class="icon-bar" style="background-color: #C8E6C9;"></span>
    </button>
  </div>
 
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a status="active" ui-sref="app.Home" style="color: #C8E6C9;" href><i class="fa fa-home iconMenuBar"></i> Home</a></li>

      <li ui-sref-active="active" class="dropdown">
        <a  href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #C8E6C9;"><span class="caret" style="color: #C8E6C9; size: 20 px;"></span> My Chart</a>
        <ul class="dropdown-menu">
          
            <li ui-sref-active="active"><a ui-sref="app.Appointments" href><i class="fa fa-calendar iconMenuBar"></i> Appointments</a></li>
            <li role="separator" class="divider"></li>
            <li ui-sref-active="active"><a ui-sref="app.TreatmentPlan" href><i class="fa fa-tasks iconMenuBar"></i> Treatment Plan</a></li>
            <li role="separator" class="divider"></li>
            <li ui-sref-active="active"><a ui-sref="app.Documents" href><i class="fa fa-folder iconMenuBar"></i> Documents</a></li>
            <li role="separator" class="divider"></li>
            <li ui-sref-active="active"><a ui-sref href><i class="fa fa-question iconMenuBar"></i> Questionnaires</a></li>

        </ul>
      </li>
<!--
      <style>
      /*
      #navHorizontal {overflow:hidden;
                 margin:0px auto;
                 text-align:center;}

#navHorizontal ul li {display:inline-block;
                 list-style:none;
                 vertical-align:top;
                 width:100px;}
         
#navHorizontal>ul>li>a>img        {text-align:center;
                 width:100px;
                 height:100px;}

#navHorizontal a              {text-decoration:none !important;}

#navHorizontal a:hover          {text-decoration:underline !important;}

#navHorizontal > ul > li > ul       {display:none;
                 z-index:999;
                 position:absolute;}

#navHorizontal li:hover ul        {display:block;}
*/
      </style>
-->
     <!-- <li ui-sref-active="active"><a ui-sref="app.Messages" href><i class="fa fa-envelope iconMenuBar"></i> Messages <span class="badge">{{NumberOfNewMessages}}</span></a></li>-->
      <li ui-sref-active="active"><a ui-sref="app.Educational" style="color: #C8E6C9;"  href><i class="fa fa-book iconMenuBar"></i> Educational</a></li>
      <li ui-sref-active="active"><a ui-sref="app.Maps" style="color: #C8E6C9;" href><i class="fa fa-users iconMenuBar"></i> Treating Team</a></li> 
      <li ui-sref-active="active"><a ui-sref="app.Contacts" style="color: #C8E6C9;" href><i class="fa fa-user" aria-hidden="true"></i> My Account</a></li>
  </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active" class="dropdown dropdown-lg " ng-controller="NotificationsController">
          <a  href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="Notifications=''"><i class="fa fa-bell iconMenuBar" ng-class="(Notifications>0?'iconThemeViews':'')" style="color: #C8E6C9;"></i><span ng-show="(Notifications > 0)? true : false" class="badge">{{Notifications}}</span></a>
          <ul class="dropdown-menu dropdown-menu-lg row" align="center">
            <hr style="margin:5px 0 5px 0;padding:0">
            <li ng-repeat="notification in notifications" ng-class="(notification.ReadStatus=='0')?'unreadNotification':''" ng-click="goToNotification($index,notification)" class="list__item--tappable">
              <div class="row" >
              <div class="col-xs-1" align="center" >
                <div style="margin-left:5px;">
                  <span id="bellColor" class="glyphicon glyphicon-bell"></span>
                </div>

              </div>
              <div class="col-xs-8" align="center">
                <div class="profile-name" >
                {{notification.Name}}
              </div>
          <div class="desc">
                {{notification.IssuedBy}}
                <div style=" color:grey;">{{notification.Content}}</div>
              </div>
              </div>
              <div class="col-xs-3" >
                {{notification.DateAdded|dateEmail}}
              </div>
            </div>
            <hr style="margin:5px 0 5px 0;padding:0">
            </li>
            <li>
              <div class="row">
              <div class="col-xs-12" align="center">

                <a href ui-sref="app.Notifications">See all &raquo;</a>
              </div>
            </div>
            </li>
              </ul>
        </li>
        <li ui-sref-active="active"><a ng-click="logout()" style="color: #C8E6C9;"></i> Log out</a></li>
        <!--
      <li ui-sref-active="active" class="dropdown">
        <a  href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret" style="color: #C8E6C9; size: 20 px;"></span></a>
        <ul class="dropdown-menu">
        <li><a  ui-sref="app.Account"> <i class="fa fa-cog iconThemeViews"></i> Personal Account</a></li>
          <li role="separator" class="divider"></li>
          <li><a ng-click="logout()"> <i class="fa fa-sign-out iconThemeViews"></i> Log Out</a></li>

        </ul>
      </li>-->
  </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div style="margin-top:-10px;"  >
<div ui-view></div>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr style="border-color: #74A333;">
    <center>
      <table>
        <tr>
            <td><img class="img-responsive" ng-src="./img/muhc-logo-text.png" alt="McGill University Health Center" title="McGill University Health Center"></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><img class="img-responsive" ng-src="./img/ceadarsLogo.png" style="width: 300px; height: 90px;" alt="Cedars Cancer Foundation" title="Cedars Cancer Foundation"></td>
        </tr>
      </table>
  </center>
    <hr style="border-color: #74A333;">
  </div>
</div>

</div>

 <div class="col-md-2">
  </div>

<style>
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #96c238;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #96c238;
}
.dropdown > .active > a, .dropdown > .active > a:hover, .dropdown > .active > a:focus {
  background-color: #96c238;
}
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
h1>a, h2>a, h3>a, li>a, .button {
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
#bellColor {
  color: #73A333;
}
.dropdown-toggle>.active>a, .dropdown-toggle>.active>a:focus, .dropdown-toggle>.active>a:hover {
    color: #C8E6C9;
    text-decoration: none;
    background-color: #96c238;
    outline: 0;
}
@media (max-width: 1400px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
     .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3d5da9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f3f4f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f3f4f9;
    background-color: #a5a7ac;
  }
.dropdown-menu>li>a {
    display: block;
    clear: both;
    white-space: nowrap;
    color: #C8E6C9;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #C8E6C9;
    text-decoration: none;
    background-color: #96c238;
    outline: 0;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #C8E6C9;
    text-decoration: none;
    background-color: #96c238;
}
#bellColor {
  color: #C8E6C9;
}
.dropdown-toggle>.active>a, .dropdown-toggle>.active>a:focus, .dropdown-toggle>.active>a:hover {
    color: #C8E6C9;
    text-decoration: none;
    background-color: #96c238;
    outline: 0;
}
}
</style>

</div>
