
  <div class="panel">
    <div class="panel-heading">
        <div class="panel-title" style="color: #C8E6C9; text-align: left;"></span><span class="glyphicon glyphicon-bell" style="color: #C8E6C9;"></span> All Notifications</div>
    </div>
    <div class="panel-body" style="background-color: white;" ng-controller="AppointmentsController">
      <div class="btn btn-block" ng-click="goToNotification($index,notification)"  ng-repeat="notification in notifications">
        <div class="row">
        <div class="col-xs-2" align="center">
          <i class="iconThemeViews fa fa-dropbox"></i>
          <span style="color:grey" ng-show="notification.ReadStatus=='0'">UNREAD</span><br>

        </div>
        <div class="col-xs-8" align="center">
          {{notification.Name}}<br>
          <span style="color:grey" >{{notification.Content}}</span>
        </div>
        <div class="col-xs-2" align="center">
        <span style="color:grey" >{{notification.DateAdded|dateEmail}}</span><br>

        </div>
      </div>
    </div>
  </div>
</div>

