/*

Written by Amro Gazlan
Summer 2016

 */


.popover-title{
    color:black;
}

/*this is used to set the font size of the events in the calendar */
.fc-content{
  font-size: 14px;
}

/*
fc-row height is changed to 0 to 
allow different calendars heights to fit 
their container. 
*/
.fc-row.fc-week.fc-widget-content{
  min-height: 0px; 
}


/*.panel-container.green {
    background-color: #74A333;
    color: #C8E6C9;
} POSSIBLE DELETE*/
/*.panel-container {
    position: relative;
    background-color: #fff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: 15px;
} POSSIBLE DELETE*/