
<md-dialog  ng-cloak>
    <md-toolbar style = "background-color: #74A333;">
      <div class="md-toolbar-tools">
        <h2>{{mapInfo.nextAppointmentMapName}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hideLocationMap()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <img style="margin: auto; max-width: 100%;" alt="{{mapInfo.nextAppointmentMapName}}" ng-src = "{{mapInfo.nextAppointmentMapImage}}">
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="hideLocationMap()">
        Close
      </md-button>
    </md-dialog-actions>
</md-dialog>