<!-- <md-toolbar>
    <div class="md-toolbar-tools ">
                    <span flex> </span>
                    <h3> Apppointments</h3>
                    <span flex></span>
    </div>
 <!--    <div style = "text-align:center;"><span class = "md-headline" > Appointments </span></div> 
</md-toolbar> -->
<md-content style="height:600px;">
    <md-list>
        <md-list-item class="md-3-line " ng-repeat="app in appointments " ng-click="null " layout="row ">
            <div class="md-list-item-text " layout="column " flex="75">
                <h4><b>{{app.AppointmentType_EN}}</b></h4>
                <p><i class="fa fa-calendar " style="color:#2B6197 "></i>&nbsp;{{app.ScheduledStartTime|formatDateAppointmentTask}}</p>
                    <p>
                        <i class="icon ion-ios-location iconHomeView "><a ng-click="showLocation($event) "> {{app.MapDescription_EN}}</a> </i> </p>
                    <p><i class="ion-person iconHomeView "></i>&nbsp;Dr. Beiber</p>
            </div>
            <img ng-src="{{nextAppointmentDoctorImage}} " flex="15 ">
            <md-divider></md-divider>
        </md-list-item>
        </md-list>
</md-content>

