.list__item__contacts_active:active {
  background-color: blue;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.selected-contact{
  background-color: blue;
}

.my-class {
    background-color: #5B82AB;
}