<div class="panel" ng-controller="AccountController">
    <div class="panel-heading" ng-controller="HomeController">
      <div class="panel-title" style="color: #C8E6C9;"></span><span class="glyphicon glyphicon-user" style="color: #C8E6C9;"></span> {{patient.FirstName}} {{patient.LastName}}</div>
      </div>
    <div class="panel-body" style="background-color: white;">
        <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="My Profile">
                 <div class="row" ng-controller="HomeController">
<div class="col-xs-12 " >
<div align="center" style="margin-top: 20px;">
<img ng-src="{{patient.ProfileImage}}" class="img-circle" width="30%" style="max-height:250px">
</div>
</div>
<center>
<div class="row">
    <div class="col-xs-12" style="margin:10px">

        <strong>Email:</strong>  {{patient.Email}}<br>
        <strong>Phone:</strong>  {{patient.TelNum}}<br>
        <strong>Primary Physician:</strong> {{primaryPhysician[0].FirstName}} {{primaryPhysician[0].LastName}}<br>
    </div>

</div>
</center>
</div>
              </md-tab>
              <md-tab label="Settings">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
              <div align="center">

      <div class="container">
        <hr />
    <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Email:</p>
    </div>
    <div style="text-align: center" class="col-xs-4 col-sm-4  col-lg-4">
      <p class="text-muted">{{Email}}</p>
    </div>
   
  <br>
  
    <br>
    <hr />
    <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Password:</p>
    </div>
    <div style="text-align: center" class="col-xs-4 col-sm-4 col-lg-4">
      <p class="text-muted">-</p>
    </div>
    
  <br>
  
    <hr/>
    <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Receive SMS:</p>
    </div>
    <div style="text-align: center" class="col-xs-4 col-sm-4 col-lg-4">
      <p class="text-muted">{{smsPreference}}</p>
    </div>
   
  <br>
    
      <hr/>
    <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Telephone Number:</p>
    </div>
    <div style="text-align: center" class="col-xs-4 col-sm-4 col-lg-4">
      <p class="text-muted">{{TelNum}}</p>
    </div>
    
  <br>

    <hr />
     <div style="text-align: left" class="col-xs-4 col-sm-4 col-lg-4">
      <p>Language:</p>
    </div>
    <div style="text-align: center;" class="col-xs-4 col-sm-4 col-lg-4">
      <p class="text-muted">{{Language}}</p>
    </div>
   
  <br>
 
    <hr />
  </div>
</div> 
</div>
</div>
  </md-tab>

   <md-tab label="Edit">

    <div class="row" ng-controller="SelectOptGroupController">
    <div class="col-md-12 col-sm-12 col-xs-12">

     
    <div class="md-padding selectdemoOptionGroups" ng-cloak="">
  <div>
  
    <div layout="row">
      <h4>Choose an element to update:</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <center>
      <md-input-container style="margin-right: 10px;">
        <label>Options</label>
        <md-select ng-model="option">
          <md-option ng-repeat="option in options" value="{{option}}" ng-click="editingDiv.option=true;goOptionSelected(option)">{{option}}</md-option>
        </md-select>
      </md-input-container>
      </center>
    </div>
  </div>
  </div>

 <div class="col-xs-12 col-xs-offset-4 col-sm-8 col-lg-8" ng-show="editingDiv.Email" style="text-align:left;margin-left:30px">
      <form name="form" ng-submit="changeField('Email')" novalidate><br>
      <strong>Enter your new email:</strong>&nbsp;<input class="text-input" id="firstNameField" type="text" name="editEmail" ng-model="account.Email" placeholder="Email"/>
      <br><strong>Enter your password:</strong>&nbsp;<input id="firstNameField" class="text-input" type="password" name="editPasswordEmail" ng-model="account.emailPassword" style="margin-left:2px" placeholder="Password"/>&nbsp;<br><input class="btn btn-primary" type="submit" id="submit" value="Submit"/>&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.Email=false">Cancel</a></form>
    </div>
     <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.password" style="text-align:left;margin-left:30px">
      <form name="form" ng-submit="changeField('Password')" novalidate><br>&nbsp;&nbsp;<strong>Enter old password:</strong>&nbsp;<input id="passwordField" class="text-input" type="password" name="editPassword" ng-model="account.oldPassword" placeholder="Password"/><br>
      <strong>Enter new password:</strong>&nbsp;<input id="passwordField" style="margin-left:1px" type="password" name="editPassword" class="text-input" ng-model="account.newPassword" placeholder="Password"/><br>
     &nbsp;&nbsp;<strong>Re-enter password:</strong>&nbsp;<input id="passwordField" class="text-input" style="margin-left:3px" type="password" name="editPassword" ng-model="account.rePassword" placeholder="Password"/><br>&nbsp;
     <div style="margin-left=30px"><input class="btn btn-primary" type="submit" id="submit" value="Submit"/>&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.password=false">Cancel</a></div></form>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.SMS" align="left" style="text-align:left;margin-left:30px">
     <br> <form name="form" ng-submit="changeImage('SMS')" align="left" novalidate><strong>SMS Notifications:</strong>&nbsp;
        <select name="Language" ng-model="account.SMSPreference">
              <option value="Enable">Enable</option>
              <option value="Disable">Disable</option>
          </select>
      <input class="btn btn-primary" type="submit" id="submitLanChange" value="Submit" />&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.SMS=false">Cancel</a><br>
      </form>
    </div>
     <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.Telephone" style="text-align:left;margin-left:30px">
      <form name="form" ng-submit="changeField('TelNum')" novalidate><br><strong>Enter New Telephone Number:&nbsp;</strong><input id="firstNameField" class="text-input" type="text" name="editFirstName" ng-model="account.editFirstName" size="21" placeholder="Telephone Number"/>&nbsp;<input class="btn btn-primary" type="submit" id="submit" value="Submit"/>&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.Telephone=false">Cancel</a></form>
    </div>
      <div class="col-xs-12 col-sm-12 col-lg-12" ng-show="editingDiv.Language" style="text-align:left;margin-left:30px">
      <form name="form" ng-submit="changeField('Lan')" novalidate><br><strong>Language:</strong>&nbsp;
          <select name="Language"  ng-model="account.LanguagePreference">
              <option value="English">EN</option>
              <option value="French">FR</option>
          </select>
          <input class="btn btn-primary" type="submit" id="submitLanChange" value="Submit" />&nbsp;<a class="btn btn-primary" id="cancelEdit" ng-click="editingDiv.Language=false">Cancel</a><br>
      </form>
              </div>
            </div>
          </div>
        </md-tab>
</md-tabs>

    </div>
</div>

 


