<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 col-xs-12">

<div ng-controller="ContactsController">

<div class="row">

<div class="col-md-12">

  <div class="panel">
    <div class="panel-heading">
        <div class="panel-title" style="color: #C8E6C9;"></span><span class="glyphicon glyphicon-user" style="color: #C8E6C9;"></span> Information</div>
    </div>
    <div class="panel-body" style="background-color: white; align: center;">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <ul class="list-group" style="overflow-y:scroll;height:100%">
  <li class="list-group-item-heading" style="margin-top: 10px;">
    <h4 class="list-group-item-heading">Primary Doctor</h4>
  </li>
  <li class="list-group-item" ng-class="(doctorSelected.DoctorSerNum===primaryPhysician[0].DoctorSerNum)? 'my-class' : ''" ng-click="goDoctorContact(primaryPhysician[0])">
    {{primaryPhysician[0].FirstName}} {{primaryPhysician[0].LastName}}
  </li>
  <li class="list-group-item-heading" style="margin-top: 10px;">
    <h4 class="list-group-item-heading">Oncologists<h4>
  </li>
  <li class="list-group-item" ng-repeat="doctor in oncologists" ng-class="(doctorSelected.DoctorSerNum===doctor.DoctorSerNum)? 'my-class' : ''" ng-click="goDoctorContact(doctor)">
    {{doctor.FirstName}} {{doctor.LastName}}
  </li>
  <li class="list-group-item-heading" style="margin-top: 10px;">
    <h4 class="list-group-item-heading">Other<h4>
  </li>
  <li class="list-group-item" ng-repeat="doctor in otherDoctors" ng-class="(doctorSelected.DoctorSerNum==doctor.DoctorSerNum)? 'my-class' : ''" ng-click="goDoctorContact(doctor)">
    {{doctor.FirstName}} {{doctor.LastName}}
  </li>
</ul>
<div>

</div>
        </div>

        <center>
        <div class="col-md-8 col-xs-12" style="margin-top: 30px;">
       <div>
        <div class="row">
          <div class="col-xs-12">
            <table>
              <tr>
                <td>
             <img ng-show="doctorSelected.ProfileImage" ng-src="data:image/jpg;base64,{{doctorSelected.ProfileImage}}" class="img-circle" width="100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           </td>
           <td>
            <h3>{{doctorSelected.FirstName}} {{doctorSelected.LastName}}</h3>
          </td>
          </tr>
          </table>
            <strong style="color:grey">{{doctorSelected.Title}}</strong><br>
            <strong style="color:grey">{{doctorSelected.Institution}}</strong>
          </div>
        </div>
    </div>
      <div style="width:400px">
      <div class="row" ng-show="doctorSelected.Email">
        <div class="col-xs-4">
        <i class="ion-ios-email iconThemeViews"></i><span style="color:grey"> Email </span>
        </div>

        <div class="col-xs-8" style="border-bottom:2px solid lightgrey">
        <a href="mailto:{{doctorSelected.Email}}">  {{doctorSelected.Email}}</a>
        </div>
      </div>
      <div class="row" ng-show="doctorSelected.Phone">
        <div class="col-xs-4">
        <i class="ion-ios-telephone iconThemeViews"></i><span style="color:grey"> Phone </span>
        </div>

        <div class="col-xs-8" style="border-bottom:2px solid lightgrey">
          {{doctorSelected.Phone|phoneFilter}}
        </div>
      </div>
      <div class="row" ng-show="doctorSelected.Address">
        <div class="col-xs-4">
        <i class="ion-location iconThemeViews"></i><span style="color:grey"> Location</span>
        </div>

        <div class="col-xs-8" style="border-bottom:2px solid lightgrey">
        <a href>  {{doctorSelected.Address}}</a>
        </div>
      </div>
      <div class="row" >
        <div class="col-xs-4">
        <i class="ion-android-chat iconThemeViews"></i><span style="color:grey"> Chat </span>
        </div>

        <div class="col-xs-8" style="border-bottom:2px solid lightgrey" >
        <a href="mailto:{{doctorSelected.Email}}">  Go to my messages &raquo;</a>
        </div>
      </div>
        </div>
      </div>
    </center>
      </div>
      </div>
  </div>

</div>
</div>
</div>

</div>
<div class="col-md-2">
  </div>
</div>

